<!DOCTYPE html>
<html>
<head>	
	<meta name="viewport" content="width=device-width" />
	<title>MadHacks: Sign up</title>
	<link rel="stylesheet" type="text/css" href="/css/inputs.css">
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	<!--[if gte IE 9]>
		<style type="text/css">
			#footerTable td:hover {
			   filter: none;
			}
		</style>
	<![endif]-->
</head>
</html>
<form class="container" id="application" action="/user/apply" method="POST">
	<div id="footerInner" class="inner" style="display:none;pointer-events:none;">
		<div class="hackCity" style="height:0;pointer-events:none;" >General</div>
		<ul style="pointer-events:none;">
			<li>
				<div class="bottom">
					<div class="hackCity">MadHacks</div>			
					<table id="footerTable">
						<tr>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/">Home</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/about">About</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/sponsor">Sponsor</a></td>
							<td style="pointer-events:auto;" class="hackCity"><a style="pointer-events:auto;" href="/contact">Contact</a></td>
						</tr>
					</table>
				</div>
			</li>
		</ul>
	</div>
	<div id="general" class="inner" style="display:none;">
		<div class="hackCity">General</div>
		<ul>
			<li class="split">
				<input type="text" id="general-last-name" name="firstname" placeholder="First Name">
				<input type="text" id="general-first-name" name="lastname" placeholder="Last Name">
			</li>
			<li class="split">
				<input type="text" id="general-email" name="email" placeholder="Email">
				<input type="password" id="general-password" name="password" placeholder="Password">
			</li>
			<li>
				<select id="general-swag-size" name="swag_size">
					<option selected disabled hidden value='#'>Swag Size</option>
					<option value="xs">xSmall</option>
					<option value="s">Small</option>
					<option value="m">Medium</option>
					<option value="l">Large</option>
					<option value="xl">xLarge</option>
					<option value="xxl">xxLarge</option>
					<option value="xxxl">xxxLarge</option>
				</select>
			</li>
			<li style="margin-top:10px;">
				<input type="checkbox" id="general-age" name="is_18">
				<label for="general-age">Will you be 18 years of age by April 17th, 2015?&nbsp;<div><div></div></div></label>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button id="validate-general" class="right" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="school" class="inner" style="display:none;">
		<div class="hackCity">School</div>
		<ul>
			<li>
				<input type="checkbox" id="school-attend-school" name="attend_school" checked>
				<label for="school-attend-school">Do you attend a university?<div><div></div></div></label>
			</li>
			<li id="school-selector">
				<%include part_school_select %>
			</li>
			<li class="split">
				<%include part_state_select %>
				<%include part_country_select %>
			</li>
			<li class="split">
				<input type="text" id="school-city" name="city" placeholder="City">
				<input type="text" id="school-zip" name="zip" placeholder="Zip">
			</li>
			<li class="split">
				<span>Travel Reimbursment: </span>
				<div>
					<input type="radio" id="school-travel-no" name="travel" value="false" autocomplete="off" checked>
					<label for="school-travel-no">No:<div><div></div></div></label>
					<input type="radio" id="school-travel-yes" name="travel" value="true" autocomplete="off">
					<label for="school-travel-yes">Yes:<div><div></div></div></label>
				</div>
			</li>
			<li id="venmo" class="split" style="display:none;">
				<span>venmo.com/</span>
				<input type="text" id="school-venmo" name="venmo" placeholder="Venmo ID">
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left" type="button"><div>Previous</div></button>
				<button id="validate-school" class="right" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="diet" class="inner" style="display:none;">
		<div class="hackCity">Diet</div>
		<ul>
			<li>
				<span>Dietary Restrictions</span>
			</li>
			<li class="split">
				<div>
					<input type="checkbox" id="apply-food-vegetarian" name="food_vegetarian">
					<label for="apply-food-vegetarian">Vegetarian&nbsp;<div><div></div></div></label>
				</div>
				<div>
					<input type="checkbox" id="apply-food-vegan" name="food_vegan">
					<label for="apply-food-vegan"><div><div></div></div>&nbsp;Vegan</label>
				</div>
			</li>
			<li class="split">
				<div>
					<input type="checkbox" id="apply-food-glutenfree" name="food_glutenfree">
					<label for="apply-food-glutenfree">&nbsp;Gluten Free<div><div></div></div></label>	
				</div>
				<div>
					<input type="checkbox" id="apply-food-pescetarian" name="food_pescetarian">
					<label for="apply-food-pescetarian"><div><div></div></div>&nbsp;Pescetarian</label>
				</div>
			</li>
			<li class="split">
				<div>
					<input type="checkbox" id="apply-food-dairyfree" name="food_dairyfree">
					<label for="apply-food-dairyfree">Dairy Free&nbsp;<div><div></div></div></label>
				</div>
				<div>
					<input type="checkbox" id="apply-food-kosher" name="food_kosher">
					<label for="apply-food-kosher"><div><div></div></div>&nbsp;Kosher</label>
				</div>
			</li>
			<li class="split">
				<div>
					<input type="checkbox" id="apply-food-halal" name="food_halal">
					<label for="apply-food-halal">Halal&nbsp;<div><div></div></div></label>
				</div>
				<input type="text" id="apply-food-other" style="padding-top:0;margin-top:0;" name="food_other" placeholder="Other">
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left" type="button"><div>Previous</div></button>
				<button id="validate-diet" class="right" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="resume" class="inner" style="display:none;">
		<div class="hackCity">Professional</div>
		<ul>
			<li class="split">
				<span>github.com/</span>
				<input type="text" id="apply-Github" name="Github" placeholder="Github">
			</li>
			<li class="split">
				<span>linkedin.com/in/</span>
				<input type="text" id="apply-linkedIn" name="linkedIn" placeholder="linkedIn">
			</li>
			<li class="split">
				<span>dribbble.com/</span>
				<input type="text" id="apply-Dribble" name="Dribble" placeholder="Dribble">
			</li>
			<li class="split">
				<span>Resume</span>
				<input style="display:none" id="resume-button-shadow" type="file" name="resume">
				<button id="resume-button" type="button">
					<div>Select Resume</div>
				</button>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left" type="button"><div>Previous</div></button>
				<button id="validate-resume" class="right" type="button"><div>Next</div></button>
			</li>
		</ul>
	</div>
	<div id="hacker" class="inner" style="display:none;">
		<div class="hackCity">Hacker</div>
		<ul>
			<li>
				<label for="hacker-exposure">How did you hear about MadHacks?</label>
				<textarea multiline="true" id="hacker-exposure"></textarea>
				<input type="text" id="hacker-exposure-shadow" style="display:none;" name="exposure" placeholder="How did you hear about Madhacks?">
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-hardware" name="plan_hardware">
				<label for="hacker-plan-hardware">Do you plan to hack on hardware?<div><div></div></div></label>
			</li>
			<li id="plan-hardware-on" style="display:none;">
				<label for="hacker-exposure">What Hardware do you want to hack on?</label>
				<textarea multiline="true" id="hacker-plan-hardware-on"></textarea>
				<input type="text" name="plan_hardware_on" id="hacker-plan-hardware-on-shadow" style="display:none;">
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-mentee" name="plan_mentee">
				<label for="hacker-plan-mentee">Do you want to be a mentee?<div><div></div></div></label>
			</li>
			<li>
				<input type="checkbox" id="hacker-plan-mentor" name="plan_mentor">
				<label for="hacker-plan-mentor">Do you want to be a mentor?<div><div></div></div></label>
			</li>
			<li>
				<input type="checkbox" id="hacker-need-partner" name="need_partner">
				<label for="hacker-need-partner">Are you looking for partners?<div><div></div></div></label>
			</li>
			<li id="partner" style="display:none;">
				<label for="hacker-exposure">What are some of your areas of knowledge?</label>
				<textarea multiline="true" id="hacker-need-partner-skills"></textarea>
				<input type="text" name="plan_need_partner_skills" id="hacker-need-partner-skills-shadow" style="display:none;">
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<button class="left" type="button"><div>Previous</div></button>
				<button class="right" type="submit"><div>Submit</div></button>
			</li>


		</ul>
	</div>
	<div id="success" class="inner" style="display:none;">
		<div class="hackCity">Success</div>
		<ul style="text-align:center;">
			<li>
				<img src="/img/logo.png">
			</li>
			<li>
				<span><span class="hack">#Hack</span><span class="city">City</span></span>
			</li>
			<li>
				<hr class="withbottom">
			</li>
			<li>
				<span>Please take a moment to fill out an optional and anonymous survey</span>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button id="anon-surv" class="right" type="button"><div>Anonymous Survey</div></button>
			</li>


		</ul>
	</div>
</form>
<form id="anon" action="/users/anon" method="POST">
	<div id="survey" class="inner" style="display:none;">
		<ul>
			<div class="hackCity">Spooky Anon</div>
			<li class="split">
				<%include part_state_select%>
				<input type="text" name="age" placeholder="Age">
			</li>
			<li class="split">
				<select name="degree">
					<option selected disabled hidden value='#'>Study</option>
					<option value="cs">Computer Science</option>
					<option value="se">Software Engineering</option>
					<option value="ee">Electrical Engineering</option>
					<option value="ce">Computer Engineering</option>
					<option value="d">Design</option>
					<option value="b">Business</option>
					<option value="o">Other</option>
				</select>
				<select name="education">
					<option selected disabled hidden value='#'>Education</option>
					<option value="highschool">High School</option>
					<option value="dropout">Dropout</option>
					<option value="freshman">Freshman</option>
					<option value="sophomore">Sophomore</option>
					<option value="junior">Junior</option>
					<option value="senior">Senior</option>
					<option value="senior++">Senior++</option>
					<option value="gradschool">Grad School</option>
					<option value="graduate">Graduate</option>
				</select>
			</li>
			<li class="split">
				<select name="gender">
					<option selected disabled hidden value='#'>Gender</option>
					<option value="male">Hacker Boy</option>
					<option value="female">Hacker Girl</option>
					<option value="other">Just Hacker</option>
				</select>
				<select name="ethnicity">
					<option selected disabled hidden value='#'>Ethnicity</option>
					<option value="n">Native American</option>
					<option value="a">Asian</option>
					<option value="i">India</option>
					<option value="b">Black</option>
					<option value="p">Pacific</option>
					<option value="w">White</option>
					<option value="o">Other</option>
				</select>
			</li>
			<li class="split">
				<span>How many Hackathons have you been to?</span>
				<input type="text" name="hacks" placeholder=">9000">
			</li>
			<li class="split">
				<span>How many of your parents/guardians have college degrees?</span>
				<select name="parent_education">
					<option value="none">None</option>
					<option value="one">One</option>
					<option value="multiple">Multiple</option>
				</select>
			</li>
			<li class="split">
				<span>What is your background?</span>
				<input type="text" name="background" placeholder='"designer/programmer"'>
			</li>
			<li>
				<hr>
			</li>
			<li class="split">
				<div></div>
				<button class="right" type="submit" id="anon-submit"><div>Submit</div></button>
			</li>
		</ul>
	</div>
</form>
<div id="thanks" class="inner" style="display:none;">
	<div class="hackCity">Thanks!</div>
	<ul style="text-align:center;">
		<li style="margin-top:30px;">
			<span><span class="hack">#Hack</span><span class="city">City</span></span>
		</li>
	</ul>
</div>
</html>