<html>
	<body style="text-align:center;margin:0px;">
		<img src="http://madhacks.org/img/logo.png" style="display:inline-block;width:200px;margin:0 5px">
		<h1>
			Thanks for subscribing to news from MadHacks!
		</h1>
		<p>You will recieve an email when applications open in the next couple of weeks.</p>
		<h2>#HackCity</h2>
		<br><br>
		<p>If you have recieved this notification by accident, please <a style="color:blue;text-decoration:none;" href="http://madhacks.org/unsubscribe?id=<%= id %>">unsubscribe</a>.
		</p>
	</body>
</html>