<% include part_head %>
		<div class="container">
			<div class="row">
				<div  id="logo-banner">
				</div>
        <!-- <h1 style="margin-top: 50px; font-size: 3em;" class="text-center shadow">MadHacks</h1> -->
				<div class="col-sm-12">
					<div class="padding">
						<h2 class="text-center pop-text">Stay Informed</h2>
					</div>
				</div>
				<div style="margin-top: 50px;" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 email">
					<h1 style="text-align:center;display:none;" id="status"></h1>
					<form id="email-form" action="/users/subscribe" method="post">
            <!-- <input type="text" placeholder="Subscription Email" name="email" id="email-in" class="col-md-10 col-sm-9 col-xs-12"> -->
            <input type="text" style="color: #C84F3E;" value="email" onfocus="this.value=''; this.style.color='#d85F4E'" name="email" id="email-in" class="col-md-10 col-sm-9 col-xs-12">
						<input type="submit" value="SUBMIT" class="col-md-2 col-sm-3 col-xs-12 btn btn-default">
					</form>
        </div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#myModal').modal('toggle');
				$('#email-form').submit(function(event) {
					event.preventDefault();
					$("#status").hide(100);
					$.ajax({
						url:"/users/subscribe",
						type:"POST",
            data:{email:$("#email-in").val()},
						cache:false,
						success: function(data){
							console.log(data);
							if(data.success == true){
								$("#status").text("Success! Check your email for a confirmation of subscription status.");
								$("#status").show(100);
							}else{
								$("#status").text("Failure! Check that the email your entered is a valid email address.");
								$("#status").show(100);
							}
						},
						done: function() {
						},
						fail: function() {
							$("#status").text("Failure! Check that the email your entered is a valid email address.");
							$("#status").show(100);
						},
						always: function() {}
					});
				})
			});
		</script>
<% include part_foot %>
