<% include part_head %>
		<div class="container">
			<div class="row">
				<div  id="logo-banner">
				</div>
				<div class="col-sm-12">
					<div class="padding">
						<h2 class="text-center pop-text">Stay Informed</h2>
					</div>
				</div>
				<div style="margin-top: 50px;" class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 email">
					<h1 style="text-align:center;display:none;" id="status-success">
						You have successfully subscribed to updates from MadHacks.
					</h1>
					<h1 style="text-align:center;display:none;" id="status-failure">
						Something went wrong, please try again.
					</h1>
					<form id="email-form" action="/users/subscribe" method="post">
						<input type="text" style="color: #C84F3E;" placeholder="email" name="email" id="email-in" class="col-md-10 col-sm-9 col-xs-12">
						<input type="submit" value="SUBMIT" class="col-md-2 col-sm-3 col-xs-12 btn btn-default">
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#myModal').modal('toggle');
				$('#email-form').submit(function(event) {
					event.preventDefault();
					$("#status").hide(100);
					$.ajax({
						url:"/users/subscribe",
						type:"POST",
						data:{email:$("#email-in").val()},
						cache:false,
						success: function(data){
							if(data.success == true){
								$("#status-success").show();
								$("#email-form").hide();
							}else{
								$("#status-failure").show();
								$("#email-form").hide();
								setTimeout(function(){
									$("#status-failure").hide();
									$("#email-form").show();
								}, 2000);
							}
						},
						done: function() {},
						fail: function() {
							$("#status-failure").show();
							$("#email-form").hide();
							setTimeout(function(){
								$("#status-failure").hide();
								$("#email-form").show();
							}, 2000);
						},
						always: function() {}
					});
				})
			});
		</script>
<% include part_foot %>
