extends layout

block content
	.container
		.row
			h1(style="margin-top: 50px; font-size: 3em;").text-center.shadow	MadHacks
			div.col-sm-12
				div.padding
					h2.text-center	Coming Soon
					p.text-center	Interested in learning about the hackathon coming to the University of Wisconsin - Madison next semester? Add your email to our list, and we'll keep you informed. 
			div(style="margin-top: 50px;").col-sm-12.email
				form(id="email-form" method="get" action="/submit-email")
					input(type="text" placeholder="Email" name="email").col-sm-10#text
					input(type="submit" value="SUBMIT").col-sm-2.btn.btn-default
	div.modal.fade.bs-example-modal-sm(id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
		div.modal.fade.bs-example-modal-sm
			div
				div.modal-dialog.modal-sm
					div.modal-content
	script(src="bower_components/validate/validate.js")
	script(type="text/javascript").
		$(document).ready(function(){
			$('#myModal').modal('toggle');
		})
		

		$('#email-form').submit(function(event){
			event.preventDefault();
			var constraints={
				from:{
					email: {
						message: "Please enter a valid Email Address"
					}
				}
			};

			var email = $("input[name='email']").val();

			var isValid = validate({from: email}, constraints);
			if(isValid == null){
				var jqxhr = $.get( "/subscribe/" + email, function(data) {
					// alert( "success" );
				})
					.done(function() {
						console.log(jqxhr);
					})
					.fail(function() {
						alert( "Unable to send email to server" );
					})
					.always(function() {
						
					});
			}else{
				alert("Please enter a valid email")
			}
		});
		
