<% include part_head %>
				<canvas id="rain"></canvas>
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3
							col-sm-8 col-sm-offset-2
							col-md-6 col-md-offset-3
							col-lg-6 col-lg-offset-3" id="logo-area">
					<canvas id="flashBacks" class="lightFunkers"></canvas>
					<canvas id="lightFunk1" class="lightFunkers"></canvas>
					<canvas id="lightFunk2" class="lightFunkers"></canvas>
					<canvas id="lightFunk3" class="lightFunkers"></canvas>
					<div id="capitol-back" ></div>

				</div>				
				<!-- <form id="email-form" action="/users/subscribe" method="post">
        			<input 	type="text" 
        					style="color: #C84F3E;" 
        					value="email" 
        					onfocus="this.value=''; this.style.color='#d85F4E'" name="email" 
        					id="email-in" 
        					class="col-md-10 col-sm-9 col-xs-12">
					<input 	type="submit" 
							value="SUBMIT"
							class="col-md-2 col-sm-3 col-xs-12 btn btn-default">
				 </form> -->
			</div>
		</div>
		<script type="text/javascript">
			flashCanvas = document.getElementById("flashBacks");
			lightFunkcanvas1 = document.getElementById("lightFunk1");
			lightFunkcanvas2 = document.getElementById("lightFunk2");
			lightFunkcanvas3 = document.getElementById("lightFunk3");
			rainCanvas = document.getElementById('rain');
			capitolHeightPercent = 0.70;
			height = 0;
			width = 0;
			wind = 5
			width_offset = 0;
			display = {};
			window.onresize = function() {
				flashCanvas.height = window.innerHeight;
				flashCanvas.width = window.innerWidth;
				lightFunkcanvas1.height = window.innerHeight;
				lightFunkcanvas1.width = window.innerWidth;
				lightFunkcanvas2.height = window.innerHeight;
				lightFunkcanvas2.width = window.innerWidth;
				lightFunkcanvas3.height = window.innerHeight;
				lightFunkcanvas3.width = window.innerWidth;
				rainCanvas.height = window.innerHeight;
				rainCanvas.width = window.innerWidth;
				width_offset = window.innerHeight*wind/5
                                rainCanvas.width = window.innerWidth + width_offset;
                                $(document).ready(function(){
					$(rainCanvas).css("left", 0 - (width_offset) + "px");
				});
				height = window.innerHeight;
				width = window.innerWidth;
				display.height = height*capitolHeightPercent;
				display.width = display.height*captitolDark.width/captitolDark.height;
				display.x = width/2-display.width/2;
				display.y = height-display.height;
			}
			
		
			captitolDark = new Image();
			captitolLite = new Image();
			captitolDark.onload = function(){
				window.onresize();
			}
			captitolLite.onload = function(){
				window.onresize();
			}
			captitolDark.src = "/img/capitol_dim.png";
			captitolLite.src = "/img/capitol_bright.png";

			fadePercent = 0;
		</script>
		<script type="text/javascript">
			makeItRain = function(){
				requestAnimFrame = (function() {
				return window.requestAnimationFrame ||
				window.webkitRequestAnimationFrame ||
				window.mozRequestAnimationFrame ||
				window.oRequestAnimationFrame ||
				window.msRequestAnimationFrame ||
				function(callback) {
				window.setTimeout(callback, 1000/60);
				};
				})();


				var rainCtx = rainCanvas.getContext('2d');



				var width = 0;
				var width_offset = 0;
				var height = 0;


				var mouse = {
					X : 0,
					Y : 0
				}

				window.onmousemove = function(event) {
					mouse.X = event.clientX + width_offset;
					mouse.Y = event.clientY;
				}

				var particules = [];
				var gouttes = [];
				var nombrebase = 5;
				var nombreb = 2;

				var controls = {
					rain : 2,
					Object : "Umbrella",
					alpha : 1,
					color : 200,
					auto : false,
					opacity : 1,
					saturation : 100,
					lightness : 50,
					back : 100,
					red : 0,
					green : 0,
					blue : 0,
					multi : false,
					speed : 2
				};

				function Rain(X, Y, nombre) {
					if (!nombre) {
						nombre = nombreb;
					}
					while (nombre--) {
						particules.push( 
						{
							vitesseX : (Math.random() * 0.25),
							vitesseY : (Math.random() * 9) + 1,
							X : X,
							Y : Y,
							alpha : 1,
							couleur : "hsla(" + controls.color + "," + controls.saturation + "%, " + controls.lightness + "%," + controls.opacity + ")",
						})
					}
				}

				function explosion(X, Y, couleur, nombre) {
					if (!nombre) {
						nombre = nombrebase;
					}
					while (nombre--) {
						gouttes.push( 
						{
							vitesseX : (Math.random() * 4-2	),
							vitesseY : (Math.random() * -4 ),
							X : X,
							Y : Y,
							radius : 0.65 + Math.floor(Math.random() *1.6),
							alpha : 1,
							couleur : couleur
						})
					}
				}

				function rendu(rainCtx) {

					if (controls.multi == true) {
						controls.color = Math.random()*360;
					}

					rainCtx.save();
					rainCtx.fillStyle = 'rgba('+controls.red+','+controls.green+','+controls.blue+',' + controls.alpha + ')';
					rainCtx.fillRect(0, 0, width, height);
					
					var particuleslocales = particules;
					var goutteslocales = gouttes;
					var tau = Math.PI * 2;

					for (var i = 0, particulesactives; particulesactives = particuleslocales[i]; i++) {
							
						rainCtx.globalAlpha = particulesactives.alpha;
						rainCtx.fillStyle = particulesactives.couleur;
						rainCtx.fillRect(particulesactives.X, particulesactives.Y, particulesactives.vitesseY/4, particulesactives.vitesseY);
					}

					for (var i = 0, gouttesactives; gouttesactives = goutteslocales[i]; i++) {
							
						rainCtx.globalAlpha = gouttesactives.alpha;
						rainCtx.fillStyle = gouttesactives.couleur;
						
						rainCtx.beginPath();
						rainCtx.arc(gouttesactives.X, gouttesactives.Y, gouttesactives.radius, 0, tau);
						rainCtx.fill();
					}
						rainCtx.strokeStyle = "white";
						rainCtx.lineWidth   = 2;

						if (controls.Object == "Umbrella") {
							rainCtx.beginPath();
							rainCtx.arc(mouse.X, mouse.Y+10, 138, 1 * Math.PI, 2 * Math.PI, false);
							rainCtx.lineWidth = 3;
							rainCtx.strokeStyle = "hsla(0,100%,100%,1)";
							rainCtx.stroke();
						}
						if (controls.Object == "Cup") {
							rainCtx.beginPath();
							rainCtx.arc(mouse.X, mouse.Y+10, 143, 1 * Math.PI, 2 * Math.PI, true);
							rainCtx.lineWidth = 3;
							rainCtx.strokeStyle = "hsla(0,100%,100%,1)";
							rainCtx.stroke();
						}
						if (controls.Object == "Circle") {
							rainCtx.beginPath();
							rainCtx.arc(mouse.X, mouse.Y+10, 138, 1 * Math.PI, 3 * Math.PI, false);
							rainCtx.lineWidth = 3;
							rainCtx.strokeStyle = "hsla(0,100%,100%,1)";
							rainCtx.stroke();
						}
					rainCtx.restore();
					
					if (controls.auto) {
						controls.color += controls.speed;
						if (controls.color >=360) {
							controls.color = 0;
						}
					}
				}

				function update() {

					var particuleslocales = particules;
					var goutteslocales = gouttes;
					
					for (var i = 0, particulesactives; particulesactives = particuleslocales[i]; i++) {
						particulesactives.X += particulesactives.vitesseX + wind;
						particulesactives.Y += particulesactives.vitesseY+5;
						if (particulesactives.Y > height-15) {
							particuleslocales.splice(i--, 1);
							explosion(particulesactives.X, particulesactives.Y, particulesactives.couleur);
						}
						var umbrella = (particulesactives.X - mouse.X)*(particulesactives.X - mouse.X) + (particulesactives.Y - mouse.Y)*(particulesactives.Y - mouse.Y);
							if (controls.Object == "Umbrella") {
								if (umbrella < 20000 && umbrella > 10000 && particulesactives.Y < mouse.Y) {
									explosion(particulesactives.X, particulesactives.Y, particulesactives.couleur);
									particuleslocales.splice(i--, 1);
								}
							}
							if (controls.Object == "Cup") {
								if (umbrella > 20000 && umbrella < 30000 && particulesactives.X+138 > mouse.X && particulesactives.X-138 < mouse.X && particulesactives.Y > mouse.Y) {
									explosion(particulesactives.X, particulesactives.Y, particulesactives.couleur);
									particuleslocales.splice(i--, 1);
								}
							}
							if (controls.Object == "Circle") {
								if (umbrella < 20000) {
									explosion(particulesactives.X, particulesactives.Y, particulesactives.couleur);
									particuleslocales.splice(i--, 1);
								}
							}
					}

					for (var i = 0, gouttesactives; gouttesactives = goutteslocales[i]; i++) {
						gouttesactives.X += gouttesactives.vitesseX;
						gouttesactives.Y += gouttesactives.vitesseY;
						gouttesactives.radius -= 0.075;
						if (gouttesactives.alpha > 0) {
							gouttesactives.alpha -= 0.005;
						} else {
							gouttesactives.alpha = 0;
						}
						if (gouttesactives.radius < 0) {
							goutteslocales.splice(i--, 1);
						}
					}

					var i = controls.rain;
					while (i--) {
						Rain(Math.floor((Math.random()*width)), -15);
					}
				}

				function Screenshot() {
					window.open(canvas.toDataURL());
				}

				window.onload = function() {
					var gui = new dat.GUI();
					gui.add(controls, 'rain', 1, 10).name("Rain intensity").step(1);
					gui.add(controls, 'alpha', 0.1, 1).name("Alpha").step(0.1);
					gui.add(controls, 'color', 0, 360).name("Color").step(1).listen();
					gui.add(controls, 'auto').name("Automatic color");
					gui.add(controls, 'speed', 1, 10).name("Speed color").step(1);
					gui.add(controls, 'multi').name("Multicolor");
					gui.add(controls, 'saturation', 0, 100).name("Saturation").step(1);
					gui.add(controls, 'lightness', 0, 100).name("Lightness").step(1);
					gui.add(controls, 'opacity', 0.0, 1).name("Opacity").step(0.1);
					gui.add(controls, 'Object', ['Nothing','Circle','Umbrella', 'Cup']);
					gui.add(window, 'Screenshot');
					var Background = gui.addFolder('Background color');
					Background.add(controls, 'red', 0, 255).step(1);
					Background.add(controls, 'green', 0, 255).step(1);
					Background.add(controls, 'blue', 0, 255).step(1);
				};

				(function boucle() {
					requestAnimFrame(boucle);
					update();
					rendu(rainCtx);
				})();
			};

			$(document).ready(function(){
				makeItRain();
			});
		 </script>
		<script type="text/javascript" src="http://sheepeuh.com/rain/dat.gui.js"></script>
		<script type="text/javascript">
			var doFlashBacks = function(){
	
				var flash = flashCanvas.getContext('2d');
				
				flash.fillStyle = "#5a5a66";
				setInterval(function(){
					flash.clearRect(0,0, flashCanvas.width, flashCanvas.height);
					if(fadePercent > 0){
						flash.opacity = fadePercent/10.0;
						flash.fillRect(0,0, flashCanvas.width, flashCanvas.height);
						flash.opacity = 1;
						flash.drawImage(captitolLite, display.x, display.y, display.width, display.height);
					}else{
						flash.drawImage(captitolDark, display.x, display.y, display.width, display.height);	
					}
					fadePercent--;	
				}, 5);
			}
			doFlashBacks();
			
			lightTheFunk = function(canvas){
				var ctx = canvas.getContext('2d');

				var lightStart_Y = 0;
				var lightEnd_X = width/2;
				console.log(height*Math.abs(1-capitolHeightPercent));
				var lightEnd_Y = height*Math.abs(1-capitolHeightPercent);

				var granularity_factor_Y = 15;
				var granularity_Y = (lightEnd_Y-lightStart_Y)/granularity_factor_Y;
				var varience_X = 50;
				var varience_Y = granularity_Y/10;

				var lightFunk = function(){
					fadePercent = 3.0

					var lightStart_X = (Math.random()*width);
					
					var rise = lightEnd_Y-lightStart_Y
					var run = lightEnd_X-lightStart_X;
					
					var lightSlope = rise/run;
					
					ctx.beginPath();
					ctx.lineWidth = 2;
					ctx.strokeStyle = '#eef';
					ctx.shadowBlur = 50; 
					ctx.shadowColor = "rgba(150,100,255,1)";
					ctx.moveTo(lightStart_X, lightStart_Y);

					var lightStep = 0;
					var lightFunkStep = function(){
						var off_x = Math.random()*varience_X;
						var off_y = Math.random()*varience_Y;
						if(lightStep+1 == granularity_factor_Y){
							off_x = 0;
							off_y = 0;
						}
						var x = lightStep*granularity_Y/lightSlope + lightStart_X + off_x;
						var y = lightStep*granularity_Y + off_y;
						
						ctx.lineTo(x, y);
						ctx.stroke();
						if(lightStep < granularity_factor_Y){
							setTimeout(lightFunkStep, 5);
							
						}else{
							setTimeout(function(){
								ctx.clearRect(0,0, width, height);
								
							}, 20);
							
							setTimeout(lightFunk, Math.random()*500+800);
						}

						lightStep++;
					}
					lightFunkStep();
				}
				lightFunk();
			};
			$(document).ready(function(){
				setTimeout(function(){
					lightTheFunk(lightFunk1);
				},Math.random()*250+100)
				setTimeout(function(){
					lightTheFunk(lightFunk2);
				}, Math.random()*500+100)
				setTimeout(function(){
					lightTheFunk(lightFunk3);
				}, Math.random()*1000+100)
			});
		 </script>
		 
		<style type="text/css">
			#rain{
				position: fixed;
/*				width: 100vw;
				height: 100vh; */
				top: 0px; left: 0px;
				/*z-index: 100;*/
			}
			.lightFunkers{
				width: 100vw;
				height: 100vh;
				position: fixed;
				top:0;left:0;right:0;bottom:0;
			}
			#lightFunk{
				z-index: 1000;
			}
			#capitol-back{
				z-index: 999;
				width: 100%;
				height: 80vh;
				/*
				background: url(/img/capitol_dim.png);
				background-size: 100% auto;
				background-repeat: no-repeat;*/
				/*opacity: 0.0;*/
				/*transition: opacity .03s linear;*/

/*				position: absolute;
				top:0;left:0;right:0;bottom:0;*/
			}
			#logo-area{
				padding: 0px;
				position:fixed;
				bottom: 0px;
/*				background: url(/img/capitol_dim.png);
				background-size: 100% auto;
				background-repeat: no-repeat;*/
/*
				position: relative;
				top:0;left:0;right:0;bottom:0;*/
			}
		</style>




		<script type="text/javascript">
			$(document).ready(function() {
				$('#myModal').modal('toggle');
				$('#email-form').submit(function(event) {
					event.preventDefault();
					$("#status").hide(100);
					$.ajax({
						url:"/users/subscribe",
						type:"POST",
            data:{email:$("#email-in").val()},
						cache:false,
						success: function(data){
							console.log(data);
							if(data.success == true){
								$("#status").text("Success! Check your email for a confirmation of subscription status.");
								$("#status").show(100);
							}else{
								$("#status").text("Failure! Check that the email your entered is a valid email address.");
								$("#status").show(100);
							}
						},
						done: function() {
						},
						fail: function() {
							$("#status").text("Failure! Check that the email your entered is a valid email address.");
							$("#status").show(100);
						},
						always: function() {}
					});
				})
			});
		 </script>
<% include part_foot %>
