<% include part_head %>
    <div class="container">
        <div class="row">
            <h1 style="margin-top: 50px; font-size: 3em;" class="text-center shadow">MadHacks</h1>
            <div class="col-sm-12">
                <div class="padding">
                    <h2 class="text-center">Coming Soon</h2>
                    <p class="text-center">Interested in learning about the hackathon coming to the University of Wisconsin - Madison next semester? Add your email to our list, and we'll keep you informed.</p>
                </div>
            </div>
            <div style="margin-top: 50px;" class="col-sm-12 email">
                <h1 style="text-align:center;display:none;" id="status"></h1>
                <form id="email-form" action="/users/subscribe" method="post">
                    <input type="text" placeholder="Email" name="email" id="email-in" class="col-sm-10">
                    <input type="submit" value="SUBMIT" class="col-sm-2 btn btn-default">
                </form>
            </div>
        </div>
    </div>
   <!--  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" class="modal fade bs-example-modal-sm">
        <div class="modal fade bs-example-modal-sm">
            <div>
                <div class="modal-dialog modal-sm">
                    <div class="modal-content"></div>
                </div>
            </div>
        </div>
    </div> -->
    <script type="text/javascript">
      $(document).ready(function() {
        $('#myModal').modal('toggle');
        $('#email-form').submit(function(event) {
          event.preventDefault();
          $("#status").hide(100);
          $.ajax({
            url:"/users/sub?email="+$("#email-in").val(),
            type:"Get",
            cache:false,
            success: function(data){
              console.log(data);
              if(data.success == true){
                $("#status").text("Success! Check your email for a confirmation of subscription status.");
                $("#status").show(100);
              }else{
                $("#status").text("Failure! Check that the email your entered is a valid email address.");
                $("#status").show(100);
              }
            },
            done: function() {
            },
            fail: function() {
              $("#status").text("Failure! Check that the email your entered is a valid email address.");
              $("#status").show(100);
            },
            always: function() {}
          });
        })
      });
    </script>
<% include part_foot %>
