doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="/bower_components/fancyInput/fancyInput.css")
		script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(src="/bower_components/fancyInput/fancyInput.js")
	body
		block content