<%include part_head %>
	<div class="inner" style="display:none;">
		<div class="hackCity">MadHacks</div>
		<form action="/users/contact" method="POST">
		<ul>
			<li class="split marginTop">
				<a class="btn" href="mailto:&#116;&#101;&#97;&#109;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;">
					<div>
						Send email to &#116;&#101;&#97;&#109;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;
					</div>
				</a>
				<a class="btn" href="mailto:&#97;&#100;&#109;&#105;&#110;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;">
					<div>
						Send email to &#97;&#100;&#109;&#105;&#110;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;
					</div>
				</a>
			</li>
			<li>
				<hr>
			</li>
			<li class="centerText marginTop">
				<span>&#116;&#101;&#97;&#109;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;</span>
			</li>

			<li class="centerText marginTop">
				<span>&#97;&#100;&#109;&#105;&#110;&#64;&#109;&#97;&#100;&#104;&#97;&#99;&#107;&#115;&#46;&#111;&#114;&#103;</span>
			</li>
			<li>
				<hr>
			</li>
			<li class="split contact-logos">
				<a href="https://www.facebook.com/UWMadHacks"><img src="/img/fb.logo.png"></a>
				<a href="https://twitter.com/MadHacks2014"><img src="/img/twitter.logo.png"></a>
			</li>
		</ul>
		</form>
	</div>
<%include part_foot %>