<!DOCTYPE html>
<html>
	<head>
		<% if(locals.title){ %>
			<title> <%= locals.title %></title>
		<% }else{ %>
			<title> MadHacks </title>
		<% } %>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/fancyInput.css'>
		<script src="/js/jquery.js"></script>
	<body>
		<div id="content">