<li style="opacity:0;">
	<div class="bottom" style="position:static;">
		<div class="hackCity">Madhacks</div>			
		<table id="footerTable">
			<tr>
				<td class="hackCity"><a href="/">Home</a></td>
				<td class="hackCity"><a href="/about">About</a></td>
				<td class="hackCity"><a href="/sponsor">Sponsor</a></td>
				<td class="hackCity"><a href="/contact">Contact</a></td>
			</tr>
		</table>
	</div>
</li>
<div class="bottom">
	<div class="hackCity">Madhacks</div>			
	<table id="footerTable">
		<tr>
			<td class="hackCity"><a href="/">Home</a></td>
			<td class="hackCity"><a href="/about">About</a></td>
			<td class="hackCity"><a href="/sponsor">Sponsor</a></td>
			<td class="hackCity"><a href="/contact">Contact</a></td>
		</tr>
	</table>
</div>