
<select id="school-school" name="school">
	<option selected disabled hidden value=''>School</option>
	<option value="Arizona State University">Arizona State University</option>
	<option value="Ball State University">Ball State University</option>
	<option value="Binghamton University">Binghamton University</option>
	<option value="Boston University">Boston University</option>
	<option value="Bowling Green State University">Bowling Green State University</option>
	<option value="Bradley University">Bradley University</option>
	<option value="Brown University">Brown University</option>
	<option value="Butler University">Butler University</option>
	<option value="California Institute of Technology">California Institute of Technology</option>
	<option value="Carnegie Mellon University">Carnegie Mellon University</option>
	<option value="Carthage College">Carthage College</option>
	<option value="Case Western Reserve University">Case Western Reserve University</option>
	<option value="College of Dupage">College of Dupage</option>
	<option value="Colorado State University">Colorado State University</option>
	<option value="Columbia College Chicago">Columbia College Chicago</option>
	<option value="Columbia University">Columbia University</option>
	<option value="Concordia University Wisconsin">Concordia University Wisconsin</option>
	<option value="Cornell University">Cornell University</option>
	<option value="Depaul University">Depaul University</option>
	<option value="Depauw University">Depauw University</option>
	<option value="Drake University">Drake University</option>
	<option value="Drexel University">Drexel University</option>
	<option value="Duke University">Duke University</option>
	<option value="Emory University">Emory University</option>
	<option value="Florida State University">Florida State University</option>
	<option value="George Mason University">George Mason University</option>
	<option value="Georgia Institute of Technology">Georgia Institute of Technology</option>
	<option value="Grinnell College">Grinnell College</option>
	<option value="Harper College">Harper College</option>
	<option value="Harvard University">Harvard University</option>
	<option value="Illinois Institute of Technology">Illinois Institute of Technology</option>
	<option value="Illinois State University">Illinois State University</option>
	<option value="Indiana Institute of Technology">Indiana Institute of Technology</option>
	<option value="Indiana University - Bloomington">Indiana University - Bloomington</option>
	<option value="Indiana University - Purdue University Indianapolis">Indiana University - Purdue University Indianapolis</option>
	<option value="Iowa State University">Iowa State University</option>
	<option value="Kent State University">Kent State University</option>
	<option value="Louisiana State University">Louisiana State University</option>
	<option value="Macalester College">Macalester College</option>
	<option value="Marquette University">Marquette University</option>
	<option value="Massachusetts Institute of Technology (MIT)">Massachusetts Institute of Technology (MIT)</option>
	<option value="Miami University">Miami University</option>
	<option value="Michigan State University">Michigan State University</option>
	<option value="Michigan Technologlical University">Michigan Technologlical University</option>
	<option value="Milwaukee School of Engineering">Milwaukee School of Engineering</option>
	<option value="Missouri University of Science and Technology">Missouri University of Science and Technology</option>
	<option value="New York University">New York University</option>
	<option value="Northeastern Illinois University">Northeastern Illinois University</option>
	<option value="Northern Illinois University">Northern Illinois University</option>
	<option value="Northwestern University">Northwestern University</option>
	<option value="Notre Dame University">Notre Dame University</option>
	<option value="Oakton Community College">Oakton Community College</option>
	<option value="Oberlin College">Oberlin College</option>
	<option value="Ohio State University">Ohio State University</option>
	<option value="Ohio University">Ohio University</option>
	<option value="Pennsylvania State University">Pennsylvania State University</option>
	<option value="Princeton University">Princeton University</option>
	<option value="Purdue University">Purdue University</option>
	<option value="Rensselaer Polytechnic Institute">Rensselaer Polytechnic Institute</option>
	<option value="Rhode Island School of Design">Rhode Island School of Design</option>
	<option value="Rice University">Rice University</option>
	<option value="Rose-Hulman Institute of Technology">Rose-Hulman Institute of Technology</option>
	<option value="Rutgers University">Rutgers University</option>
	<option value="Southern Connecticut State University">Southern Connecticut State University</option>
	<option value="Southern Illinois University - Carbondale">Southern Illinois University - Carbondale</option>
	<option value="Southern Illinois University - Edwardsville">Southern Illinois University - Edwardsville</option>
	<option value="St. Louis University">St. Louis University</option>
	<option value="Stanford University">Stanford University</option>
	<option value="Texas A&amp;M University">Texas A&amp;M University</option>
	<option value="University of Buffalo">University of Buffalo</option>
	<option value="University of California - Berkeley">University of California - Berkeley</option>
	<option value="University of Central Florida">University of Central Florida</option>
	<option value="University of Chicago">University of Chicago</option>
	<option value="University of Cincinnati">University of Cincinnati</option>
	<option value="University of Colorado - Boulder">University of Colorado - Boulder</option>
	<option value="University of Dayton">University of Dayton</option>
	<option value="University of Georgia">University of Georgia</option>
	<option value="University of Illinois - Chicago">University of Illinois - Chicago</option>
	<option value="University of Illinois - Springfield">University of Illinois - Springfield</option>
	<option value="University of Illinois - Urbana-Champaign">University of Illinois at Urbana-Champaign</option>
	<option value="University of Iowa">University of Iowa</option>
	<option value="University of Maryland">University of Maryland</option>
	<option value="University of Michigan - Ann Arbor">University of Michigan - Ann Arbor</option>
	<option value="University of Minnesota - Twin Cities">University of Minnesota - Twin Cities</option>
	<option value="University of Missouri">University of Missouri</option>
	<option value="University of Nebraska - Lincoln">University of Nebraska - Lincoln</option>
	<option value="University of Pennsylvania">University of Pennsylvania</option>
	<option value="University of Pittsburgh">University of Pittsburgh</option>
	<option value="University of Texas - Austin">University of Texas - Austin</option>
	<option value="University of Toledo">University of Toledo</option>
	<option value="University of Toronto">University of Toronto</option>
	<option value="University of Washington">University of Washington</option>
	<option value="University of Wisconsin - Madison">University of Wisconsin - Madison</option>
	<option value="University of Wisconsin - Milwaukee">University of Wisconsin - Milwaukee</option>
	<option value="Vanderbilt University">Vanderbilt University</option>
	<option value="Virginia Institute of Technology">Virginia Institute of Technology</option>
	<option value="Virginia Polytechnic Institute and State University (Virginia Tech)">Virginia Polytechnic Institute and State University (Virginia Tech)</option>
	<option value="Washington University in St. Louis">Washington University in St. Louis</option>
	<option value="Worcester Polytechnic Institute">Worcester Polytechnic Institute</option>
	<option value="Wright State University">Wright State University</option>
	<option value="Yale University">Yale University</option>
</select>