<!DOCTYPE html>
<html>
	<head>
		<% if(locals.title){ %>
			<title> <%= locals.title %></title>
		<% }else{ %>
			<title> MadHacks </title>
		<% } %>
		<link rel='stylesheet' href='/css/style.css'>
		<link rel='stylesheet' href='/css/fancyInput.css'>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<body>
		<div id="content">